In [ ]:
# Capstone Project: Quality Education Analytics

This notebook performs data cleaning, exploratory data analysis (EDA), and clustering on Sustainable Development Goal 4 data related to quality education.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score

sns.set(style="whitegrid")

In [3]:
# Load cleaned dataset
df = pd.read_csv("C:/Users/Hp/Desktop/27193 Final Project/education_data.csv")
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,FREQ,Frequency,INDICATOR,Indicator,GEO_PICT,Pacific Island Countries and territories,...,REPORTING_TYPE,Reporting type,NATURE,Nature,DATA_SOURCE,Data source,OBS_STATUS,Observation Status,OBS_COMMENT,Comment
0,DATAFLOW,SPC:DF_SDG_04(3.0),Sustainable Development Goal 04 - Quality Educ...,I,A,Annual,SE_GC_TCAQ,4.c.1 Trained teachers,WS,Samoa,...,G,Global,C,Country Data,UNESCO Institute of Statistics,NaN,NaN,NaN,NaN,NaN
1,DATAFLOW,SPC:DF_SDG_04(3.0),Sustainable Development Goal 04 - Quality Educ...,I,A,Annual,SE_GC_TCAQ,4.c.1 Trained teachers,WS,Samoa,...,G,Global,C,Country Data,UNESCO Institute of Statistics,NaN,NaN,NaN,NaN,NaN
2,DATAFLOW,SPC:DF_SDG_04(3.0),Sustainable Development Goal 04 - Quality Educ...,I,A,Annual,SE_GC_TCAQ,4.c.1 Trained teachers,WS,Samoa,...,G,Global,C,Country Data,UNESCO Institute of Statistics,NaN,NaN,NaN,NaN,NaN
3,DATAFLOW,SPC:DF_SDG_04(3.0),Sustainable Development Goal 04 - Quality Educ...,I,A,Annual,SE_PRE_PARTN,4.2.2 Participation rate in organised learning,PG,Papua New Guinea,...,G,Global,C,Country Data,UNESCO Institute of Statistics,NaN,NaN,NaN,NaN,NaN
4,DATAFLOW,SPC:DF_SDG_04(3.0),Sustainable Development Goal 04 - Quality Educ...,I,A,Annual,SE_PRE_PARTN,4.2.2 Participation rate in organised learning,PG,Papua New Guinea,...,G,Global,C,Country Data,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN

In [4]:
# Overview of data
print(df.info())
print(df.describe(include='all'))
print("Missing values:", df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2095 entries, 0 to 2094
Data columns (total 42 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   STRUCTURE                                 2095 non-null   object
 1   STRUCTURE_ID                              2095 non-null   object
 2   STRUCTURE_NAME                            2095 non-null   object
 3   ACTION                                    2095 non-null   object
 4   FREQ                                      2095 non-null   object
 5   Frequency                                 2095 non-null   object
 6   INDICATOR                                 2095 non-null   object
 7   Indicator                                 2095 non-null   object
 8   GEO_PICT                                  2095 non-null   object
 9   Pacific Island Countries and territories  2095 non-null   object
 10  SEX                                       2095 non-null   object
 11  Sex                                       2095 non-null   object
 12  AGE                                       2095 non-null   object
 13  Age                                       2095 non-null   object
 14  URBANIZATION                              2095 non-null   object
 15  Urbanization                              2095 non-null   object
 16  INCOME                                    2095 non-null   object
 17  Income                                    2095 non-null   object
 18  EDUCATION                                 2095 non-null   object
 19  Education level                           2095 non-null   object
 20  OCCUPATION                                2095 non-null   object
 21  Occupation                                2095 non-null   object
 22  COMPOSITE_BREAKDOWN                       2095 non-null   object
 23  Composite breakdown                       2095 non-null   object
 24  DISABILITY                                2095 non-null   object
 25  Disability                                2095 non-null   object
 26  TIME_PERIOD                               2095 non-null   int64
 27  Time                                      0 non-null      float64
 28  OBS_VALUE                                 2095 non-null   float64
 29  Observation value                         0 non-null      float64
 30  UNIT_MEASURE                              2095 non-null   object
 31  Unit of measure                           2095 non-null   object
 32  REPORTING_TYPE                            2095 non-null   object
 33  Reporting type                            2095 non-null   object
 34  NATURE                                    2095 non-null   object
 35  Nature                                    2095 non-null   object
 36  DATA_SOURCE                               2095 non-null   object
 37  Data source                               0 non-null      float64
 38  OBS_STATUS                                13 non-null     object
 39  Observation Status                        13 non-null     object
 40  OBS_COMMENT                               0 non-null      float64
 41  Comment                                   0 non-null      float64
dtypes: float64(6), int64(1), object(35)
memory usage: 687.6+ KB
None
       STRUCTURE        STRUCTURE_ID  \
count       2095                2095
unique         1                   1
top     DATAFLOW  SPC:DF_SDG_04(3.0)
freq        2095                2095
mean         NaN                 NaN
std          NaN                 NaN
min          NaN                 NaN
25%          NaN                 NaN
50%          NaN                 NaN
75%          NaN                 NaN
max          NaN                 NaN

                                           STRUCTURE_NAME ACTION  FREQ  \
count                                                2095   2095  2095
unique                                                  1      1     1
top     Sustainable Development Goal 04 - Quality Educ...      I     A
freq                                                 2095   2095  2095
mean                                                  NaN    NaN   NaN
std                                                   NaN    NaN   NaN
min                                                   NaN    NaN   NaN
25%                                                   NaN    NaN   NaN
50%                                                   NaN    NaN   NaN
75%                                                   NaN    NaN   NaN
max                                                   NaN    NaN   NaN

       Frequency   INDICATOR               Indicator GEO_PICT  \
count       2095        2095                    2095     2095
unique         1          16                      16       17
top       Annual  SE_GC_TCAQ  4.c.1 Trained teachers       CK
freq        2095         595                     595      229
mean         NaN         NaN                     NaN      NaN
std          NaN         NaN                     NaN      NaN
min          NaN         NaN                     NaN      NaN
25%          NaN         NaN                     NaN      NaN
50%          NaN         NaN                     NaN      NaN
75%          NaN         NaN                     NaN      NaN
max          NaN         NaN                     NaN      NaN

       Pacific Island Countries and territories  ... REPORTING_TYPE  \
count                                      2095  ...           2095
unique                                       17  ...              3
top                                Cook Islands  ...              G
freq                                        229  ...           1117
mean                                        NaN  ...            NaN
std                                         NaN  ...            NaN
min                                         NaN  ...            NaN
25%                                         NaN  ...            NaN
50%                                         NaN  ...            NaN
75%                                         NaN  ...            NaN
max                                         NaN  ...            NaN

       Reporting type NATURE        Nature                     DATA_SOURCE  \
count            2095   2095          2095                            2095
unique              3      2             2                             172
top            Global      C  Country Data  UNESCO Institute of Statistics
freq             1117   2094          2094                             708
mean              NaN    NaN           NaN                             NaN
std               NaN    NaN           NaN                             NaN
min               NaN    NaN           NaN                             NaN
25%               NaN    NaN           NaN                             NaN
50%               NaN    NaN           NaN                             NaN
75%               NaN    NaN           NaN                             NaN
max               NaN    NaN           NaN                             NaN

       Data source OBS_STATUS Observation Status OBS_COMMENT Comment
count          0.0         13                 13         0.0     0.0
unique         NaN          1                  1         NaN     NaN
top            NaN          A       Normal value         NaN     NaN
freq           NaN         13                 13         NaN     NaN
mean           NaN        NaN                NaN         NaN     NaN
std            NaN        NaN                NaN         NaN     NaN
min            NaN        NaN                NaN         NaN     NaN
25%            NaN        NaN                NaN         NaN     NaN
50%            NaN        NaN                NaN         NaN     NaN
75%            NaN        NaN                NaN         NaN     NaN
max            NaN        NaN                NaN         NaN     NaN

[11 rows x 42 columns]
Missing values: STRUCTURE                                      0
STRUCTURE_ID                                   0
STRUCTURE_NAME                                 0
ACTION                                         0
FREQ                                           0
Frequency                                      0
INDICATOR                                      0
Indicator                                      0
GEO_PICT                                       0
Pacific Island Countries and territories       0
SEX                                            0
Sex                                            0
AGE                                            0
Age                                            0
URBANIZATION                                   0
Urbanization                                   0
INCOME                                         0
Income                                         0
EDUCATION                                      0
Education level                                0
OCCUPATION                                     0
Occupation                                     0
COMPOSITE_BREAKDOWN                            0
Composite breakdown                            0
DISABILITY                                     0
Disability                                     0
TIME_PERIOD                                    0
Time                                        2095
OBS_VALUE                                      0
Observation value                           2095
UNIT_MEASURE                                   0
Unit of measure                                0
REPORTING_TYPE                                 0
Reporting type                                 0
NATURE                                         0
Nature                                         0
DATA_SOURCE                                    0
Data source                                 2095
OBS_STATUS                                  2082
Observation Status                          2082
OBS_COMMENT                                 2095
Comment                                     2095
dtype: int64

In [5]:
# Top countries by record count
top_locations = df['Location'].value_counts().head(10)
top_locations.plot(kind='barh', title='Top 10 Countries by Record Count')
plt.xlabel("Number of Records")
plt.show()

KeyError: 'Location'

In [7]:
# Example trend: Out-of-school rate over time
subset = df[df['Indicator'].str.contains("out-of-school", case=False)]

# Check the actual column names in the DataFrame
# print(subset.columns)  # Uncomment this line to see all column names

# Assuming the year column might be named differently, like 'TIME' or 'Date'
# Replace 'TIME' with the actual column name for year in your DataFrame
sns.lineplot(data=subset, x='TIME', y='Value', hue='Location')
plt.title("Out-of-School Rate Over Time")
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

ValueError: Could not interpret value `TIME` for `x`. An entry with this name does not appear in `data`.

In [8]:
# Pivot for clustering
pivot_df = df.pivot_table(index='Location', columns='Indicator', values='Value', aggfunc='mean')
pivot_df.fillna(0, inplace=True)

# Standardize
scaler = StandardScaler()
scaled_data = scaler.fit_transform(pivot_df)

# PCA
pca = PCA(n_components=2)
pca_result = pca.fit_transform(scaled_data)

# KMeans
kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(scaled_data)

# Add results
pivot_df['Cluster'] = clusters
pivot_df['PCA1'] = pca_result[:, 0]
pivot_df['PCA2'] = pca_result[:, 1]

# Plot
sns.scatterplot(data=pivot_df, x='PCA1', y='PCA2', hue='Cluster', palette='Set2')
plt.title("KMeans Clustering of Countries (Education Indicators)")
plt.show()

KeyError: 'Value'

In [ ]:
# Silhouette Score
score = silhouette_score(scaled_data, clusters)
print(f"Silhouette Score: {score:.2f}")

In [ ]:
from sklearn.ensemble import IsolationForest

iso = IsolationForest(contamination=0.05, random_state=42)
pivot_df['Anomaly'] = iso.fit_predict(scaled_data)

# Show anomalous countries
print("Anomalous Countries:")
print(pivot_df[pivot_df['Anomaly'] == -1].index.tolist())